@model List<FoodTruck>;
@using HUNGR.WebApp.Components

@(await Html.RenderComponentAsync<Counter>(RenderMode.ServerPrerendered))    

<h1>Events</h1>
<div>
    @await Component.InvokeAsync("CarouselEvents")
</div>

<h1>Who's Open</h1>

<div class="card-deck">
    @foreach(var truck in Model)
    {
    <div class="card m-3">
        <a asp-action="Profile" asp-controller="FoodTrucks" asp-route-id="@truck.FoodTruckId">
            <img class="card-img-top" src="~/images/defaultProfileImage.png" alt="Card image cap">
        </a>
        <div class="card-body">
            <h3>@truck.Name</h3>
        </div>
    </div>
    }

</div>