@model HUNGR.WebApp.Models.FoodTruck

@{
    ViewData["Title"] = "Create";

    var userId = this.User.FindFirst("UserId").Value;
}



<hr />
<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <h1>Create a Food Truck Profile</h1>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input hidden asp-for="FoodTruckId" class="form-control" value=@userId />
            </div>
            <div class="form-group">
                <label class="control-label">Food Truck Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Food Type</label>
                <select asp-for="FoodCat" class="custom-select" asp-items="Html.GetEnumSelectList<FoodEnum.FoodCat>()">
                    <option value="">Please Select</option>
                </select>
                <span asp-validation-for="FoodCat" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Bio" class="control-label"></label>
                <textarea asp-for="Bio" class="form-control" rows="4" style="width:100%;" ></textarea>
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>



            @*<div class="form-group">
            </div>*@
            <div class="row">
                <div class="col">
                    <a style="width:100px" class="btn btn-danger" asp-action="MyProfile" asp-controller="User">Cancel</a>
                </div>
                <div class="col">
                    <input style="width:100px" type="submit" value="Create" class="btn btn-primary" />
                </div>

            </div>

        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
