@model HUNGR.WebApp.Models.FoodTruck

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete your Food Truck?</h3>
<div>
    <h3>@Model.Name</h3>
    <hr />
    <div class="row">
        <div class="col">
            <h3>This cannot be undone.</h3>
        </div>
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FoodTruckId" />
        <input type="submit" value="Delete" class="btn btn-danger" style="width:175px"/> |
        <a class="btn btn-warning" asp-action="MyProfile" style="width:175px">Back to Profile</a>
    </form>
</div>
