@model HUNGR.WebApp.ViewModels.EditFoodTruckViewModel;

@{
    ViewData["Title"] = "Edit";
    var photoPath = "~/images/" + (Model.ExistingImagePath ?? "defaultProfileImage.png");
}

<h1>Edit</h1>

<h4>FoodTruck</h4>
<hr />
<div class="row">
    <div class="col">
        <form enctype="multipart/form-data" asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FoodTruckId" />
            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label asp-for="FoodTruckName" class="h2"></label>
                        <input asp-for="FoodTruckName" class="form-control" />
                        <span asp-validation-for="FoodTruckName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TruckBio" class="h2"></label>
                        <input asp-for="TruckBio" class="form-control" />
                        <span asp-validation-for="TruckBio" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FoodCategory" class="h2"></label>
                        <select asp-for="FoodCategory" class="custom-select" 
                                asp-items="Html.GetEnumSelectList<FoodEnum.FoodCat>()" >
                            <option value="">Please Select</option>
                        </select>
                        <span asp-validation-for="FoodCategory" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col">
                            <h2>Social Media Links</h2>
                        </div>
                    </div>


                    <div class="form-group">

                        <div class="row">
                            <div class="col-1"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></div>
                            <div class="col-11"><input asp-for="InstaLink" class="form-control" /></div>
                        </div>
                        <span asp-validation-for="InstaLink" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-1"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></div>
                            <div class="col-11"><input asp-for="FacebookLink" class="form-control" /></div>
                        </div>
                        <span asp-validation-for="FacebookLink" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row ">
                        <img src="@photoPath" class="img-thumbnail" asp-append-version="true" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Image"></label>
                        <div class="custom-file">
                            <input asp-for="Image" class="form-control custom-file-input" />
                            <label class="custom-file-label">Click here to change photo...</label>
                        </div>
                        @*<span asp-validation-for="Image" class="text-danger"></span>*@
                    </div>
                </div>
            </div>
                <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>

</div>

<div>
    <a class="btn btn-danger" asp-action="MyProfile" asp-controller="User">Cancel</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            })
        })
    </script>
}

<!--<div class="row mt-5">
    <div class="col-7">
        <div class="row">
            <div class="col">
                <h2>Truck Name</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1></h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Truck Bio</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1></h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Category</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1>Seafood</h1>-->
@*@Model.FoodTruck.FoodCat*@
<!--</div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Social Media Links</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
            </div>
            <div class="col">

            </div>
        </div>
        <div class="row">
            <div class="col">
                <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
            </div>
            <div class="col">

            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="row">
            <div class="col">
                <img src="~/images/defaultProfileImage.png" class="img-thumbnail" alt="Responsive image">
            </div>
        </div>


        <div class="row">
            <div class="col d-flex justify-content-center">
                <button class="btn btn-primary">Edit Truck</button>
            </div>
        </div>
    </div>
</div>-->
