@model IEnumerable<HUNGR.WebApp.Models.FoodTruck>

@{
    ViewData["Title"] = "Index";
}


<ul id="trucksList" class="list-group mt-3">
    @foreach (var truck in Model)
    {
        var photoPath = "~/images/" + (truck.ProfileImage ?? "defaultProfileImage.png");
        //var reviewPhotoPath = "~/images/" + (Model.FoodTruckModel.ProfileImage ?? "defaultProfileImage.png");
        <li class="border my-1" style="list-style-type:none;">
            <a asp-action="Profile" asp-route-id="@truck.FoodTruckId" style="text-decoration: none; color:black;" >
                <div class="row">
                    <div class="col">
                        <img src="@photoPath" class="img-thumbnail roundThumbnail" alt="ProfileImage" asp-append-version="true">
                    </div>
                    <div class="col align-self-center">
                        <h1>@truck.Name</h1>
                    </div>
                    <div class="col align-self-center">
                        @if (truck.FoodCat != null)
                        {
                            <h1>@truck.FoodCat.GetDisplayName()</h1>
                        }
                    </div>
                </div>
            </a>
        </li>
    }
</ul>

